<html>

<head>
    <title>leave application</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <style>
      .container{
        padding-left: 150px;
        padding-top:150px;
      }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="well bs-component">
                    <form action='/sendmail' method='POST' class="form-horizontal">
                        <fieldset>
                            <legend>Reset Your Password</legend>
                            <input type="hidden" name="id" value="{{user._id}}">
                            <div class="form-group">
                                <label for="old" class="col-md-2 control-label">Enter your email address</label>
                                <div class="col-md-8">
                                    <input id="old" name="mail" class="form-control" type="email" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10 col-md-offset-2">
                                    <button type="submit" class="btn btn-primary">Send</button>
                                    <a type="reset" href="/role" class="btn btn-warning">Cancel</a>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
