<head>
	<title>Leave Application</title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="well bs-component">
					<form action="/newpost" method="post" enctype="multipart/form-data" class="form-horizontal">
						<fieldset>
							<legend>Post A Job</legend>
							<div class="form-group">
								<label for="cname" class="col-md-2 control-label">Company Name</label>
								<div class="col-md-10">
									<input class="form-control" id="cname" name="companyname" type="text" required>
								</div>
							</div>
							<div class="form-group">
								<label for="cwebsite" class="col-md-2 control-label">Company Website</label>
								<div class="col-md-10">
									<input class="form-control" id="cwebsite" name="companywebsite" type="text" required/>
								</div>
							</div>
							<div class="form-group">
								<label for="cmail" class="col-md-2 control-label">Company Email</label>
								<div class="col-md-10">
									<input class="form-control" id="cmail" name="companymail" type="email" />
								</div>
							</div>
							<div class="form-group">
								<label for="clogo" class="col-md-2 control-label">Company Logo</label>
								<div class="col-md-10">
									<input type="file" id="clogo" name="clogo" multiple>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-2 control-label">Job Type</label>
								<div class="col-md-10">
									<input type="radio" name="jobtype" id="jobtype1" value="Full Time" checked="">Full Time<br/>
									<input type="radio" name="jobtype" id="jobtype2" value="Part Time">Part Type
								</div>
							</div>
							<div class="form-group">
								<label for="jobcategory" class="col-md-2 control-label">Job Category</label>
								<div class="col-md-10">
									<input type="checkbox" name="category" value="Software Engineer,Hardware Engineer,PHP Developer,Website Designer" checked> select all<br/>
									<input type="checkbox" name="category" value="Software Engineer"> Software Engineer<br>
									<input type="checkbox" name="category" value="Hardware Engineer">Hardware Engineer<br>
									<input type="checkbox" name="category" value="Website Designer">Website Designer<br>
									<input type="checkbox" name="category" value="PHP Developer">PHP Developer<br>
								</div>
							</div>

							<div class="form-group">
								<label for="qualification" class="col-md-2 control-label">Qualification</label>
								<div class="col-md-10">
									<input class="form-control" id="qualification" name="qualification" type="text" required/>
								</div>
							</div>
							<div class="form-group">
								<label for="clocation" class="col-md-2 control-label">Location</label>
								<div class="col-md-10">
									<input class="form-control" id="clocation" name="clocation" type="text" />
								</div>
							</div>
							<div class="form-group">
								<label for="caddress" class="col-md-2 control-label">Address</label>
								<div class="col-md-10">
									<textarea class="form-control" id="caddress" name="caddress"></textarea>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-10 col-md-offset-2">
									<button type="submit" class="btn btn-primary btn-lg">Post</button>
									<a type="reset" href="/role" class="btn btn-warning btn-lg">Cancel</a>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
