<html>

<head>
    <title>leave application</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script type="text/javascript">
  function checkForm(form) {
    if (form.password.value != "" && form.password.value == form.renew.value) {
      if (form.password.value.length < 6) {
        alert("Error: Password must contain at least six characters!");
        form.password.focus();
        return false;
      }
      if (form.password.value == form.name.value) {
        alert("Error: Password must be different from Username!");
        form.password.focus();
        return false;
      }
      re = /[0-9]/;
      if (!re.test(form.password.value)) {
        alert("Error: password must contain at least one number (0-9)!");
        form.password.focus();
        return false;
      }
      re = /[a-z]/;
      if (!re.test(form.password.value)) {
        alert("Error: password must contain at least one lowercase letter (a-z)!");
        form.password.focus();
        return false;
      }
      re = /[A-Z]/;
      if (!re.test(form.password.value)) {
        alert("Error: password must contain at least one uppercase letter (A-Z)!");
        form.password.focus();
        return false;
      }
      return true
    } else {
      alert("Error: Please check that you've entered and confirmed your password!");
      form.password.focus();
      return false;
    }
  }
</script>
    <style>
      .container{
        padding-left: 150px;
        padding-top:100px;
      }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="well bs-component">
                  <form action='/reset' method='POST' class="form-horizontal" onsubmit="return checkForm(this);">
                      <fieldset>
                          <legend>Reset Password</legend>
                          <input type="hidden" name="id" value="{{user._id}}">
                            <div class="form-group">
                              <div class="col-md-10">
                          <p>Password must contain one Uppercase letter, one number,one special character and be at least 7 characters long.</p>
                        </div>
                        </div>
                          <div class="form-group">
                              <label for="new" class="col-md-2 control-label">Password</label>
                              <div class="col-md-10">
                                  <input id="new" name="password" class="form-control" type="text" required>
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="renew" class="col-md-2 control-label">Confirm Password</label>
                              <div class="col-md-10">
                                  <input id="renew" name="renew" class="form-control" type="text" required>
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="col-md-10 col-md-offset-2">
                                  <button type="submit" class="btn btn-primary">Change Password</button>
                              </div>
                          </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
